<!doctype html>
<head>
    <title>TravelHelper</title>
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='style.css')}}">
</head>

{%if message%}
<h4> {{message}} </h4>
{% endif %}
<body>
    <div class="login">
        <div id="content" class = "content">
            <h1> Create an Account </h1>
            <form method="post" action="{{ url_for('register_user') }}">
                <div class="txt">
                    <label for="email">email:</label>
                    <input type="text" name="email"/><br/>
                    <label for="password">password:</label>
                    <input type="password" name="password"/><br/>
                </div>
                <input type="submit"/>
            </form>

            <div class="home">
                <h1><a href='/' class="btn">Home</a></h1>
            </div>
        </div>

    </div>

</body>
