<!doctype html>
<title>TravelHelper</title>
{%if message%}
<h4> {{message}} </h4>
{% endif %}
<body>
    <div class="title">
        <h1> Create an Account </h1>
    </div>
    <div id="content">
        <form method="post" action="{{ url_for('register_user') }}">
            <label for="email">email:</label>
            <input type="text" name="email"/><br/>
            <label for="password">password:</label>
            <input type="text" name="password"/><br/>
            <input type="submit"/>
        </form>
    </div>
</body>
<h1><a href='/'>Home</a></h1>
