<!doctype html>
<head>
    <title>TravelHelper</title>
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    {% if name %}
    {% if message %}
        <h4>{{message}}</h4>
    {% endif %}
    <h1>Create a Trip!</h1>
    <div id="trip">
        <form method="post" action="{{ url_for('add_trip') }}">
            <label for="hotel">choose a hotel:</label>
            <input type="text" name="hotel"/><br/>
            <label for="restaurant">choose a restaurant:</label>
            <input type="text" name="restaurant"/><br/>
            <input type="submit"/>
        </form>
    </div>
    <div>
        <h2>YOUR TRIPS:</h2>
        {% if trips %}
            {% for trip in trips %}
            <li>
                <h4>Hotel: {{trip[0]}}, Restaurant: {{trip[1]}}</h4>
            </li>
            {% endfor %}
        {% else %}
            <h4>You have no trips!</h4>
        {% endif %}
    </div>
    <nav>
        <ul>
            <li><a href='/home' class="btn">Home</a></li>
            <li><a href='/profile' class="btn">Profile</a> </li>
            <li><a href='/logout' class="btn">Logout</a> </li>
        </ul>
    </nav>
    {% else %}
    <h1>You are logged out.</h1>
    <ul>
        <li><a href='/' class="btn">Home</a></li>
        <li><a href='/login' class="btn">Login</a> </li>
        <li><a href='/register' class="btn">Register</a></li>
    </ul>
{% endif %}
</body>

